.navigation .container {
  display: flex;
  align-items: center;
  padding-top: var(--size-16);
  padding-bottom: var(--size-16);
}

.nav-wrapper {
  height: var(--size-100);
}

.fixed {
  position: fixed;
  z-index: 100;
  background-color: white;
  top: -100px;
  left: 0;
  right: 0;
  box-shadow: 0 2px 10px rgba(110, 110, 110, 0.15);
}

.nav-brand {
  margin-right: auto;
  width: 10.5rem;
}

.navbar-toggler {
  position: absolute;
  right: var(--size-30);
  top: var(--size-30);
  font-size: var(--size-25);
  font-weight: 800;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.nav-menu {
  display: flex;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links .nav-item {
  font-size: var(--size-16);
  font-weight: 500;
  margin-right: var(--size-25);
}

.selected {
  color: var(--font-color-link);
}

header {
  background-color: var(--white);
  background-image: url(/assets/backgrounds/background-top.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.hero-wrapper {
  display: flex;
  padding-top: var(--size-20);
}

.section-padding {
  padding-top: var(--size-100);
}

.hero-text,
.hero-icons {
  flex: 1;
}

h1 {
  color: var(--black);
  font-size: var(--size-40);
  font-weight: 600;
  line-height: 3.25rem;
  margin-bottom: var(--size-10);
}

.hero-text {
  padding: 4.375rem 0;
}

.hero-text p {
  font-size: var(--size-14);
  margin-bottom: var(--size-30);
}

.hero-demo {
  display: flex;
  align-items: center;
}

.play-video-button {
  margin-right: var(--size-30);
  display: inline-flex;
  flex-shrink: 1;
  align-items: center;
}

.play-video-button i {
  font-size: var(--size-18);
  margin-right: var(--size-10);
}

.play-video-button .text {
  font-weight: 400;
}

.learn-more {
  font-size: var(--size-14);
  color: var(--font-color-link);
  font-weight: 600;
}

.hero-icons-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.hero-icons-wrapper div,
.play-button {
  transform: translate(-50%, -50%);
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(6, 61, 61, 0.3);
}

.hero-icons-wrapper .google,
.hero-icons-wrapper .google-a {
  width: var(--size-60);
  padding: var(--size-10);
}

.hero-icons-wrapper .paypal,
.hero-icons-wrapper .atlassian,
.hero-icons-wrapper .weave,
.hero-icons-wrapper .calendar,
.hero-icons-wrapper .asana {
  width: var(--size-80);
  padding: var(--size-16);
}

.hero-icons-wrapper .google {
  top: 12%;
  left: 10%;
}

.hero-icons-wrapper .paypal {
  top: 36%;
  left: 9%;
}

.hero-icons-wrapper .google-a {
  top: 43%;
  left: 38%;
}

.hero-icons-wrapper .atlassian {
  top: -24%;
  left: 42%;
}

.hero-icons-wrapper .weave {
  top: -6%;
  right: -65%;
}

.hero-icons-wrapper .calendar {
  top: 10%;
  right: -91%;
}

.hero-icons-wrapper .asana {
  top: -71%;
  right: -92%;
}

.section-header {
  text-align: center;
  padding-bottom: var(--size-30);
}

.section-header h2 {
  color: var(--black);
  font-size: var(--size-30);
  font-weight: 700;
  margin-bottom: var(--size-14);
}

.section-header p {
  font-size: var(--size-16);
  font-weight: 500;
}

.feature-cards {
  display: flex;
  justify-content: space-between;
  gap: var(--size-30);
  flex-wrap: wrap;
  margin-top: var(--size-20);
  margin-bottom: var(--size-100);
}

.custom-card {
  box-shadow: 0 8px 15px rgba(110, 110, 110, 0.2);
}

.feature-cards .custom-card {
  width: 13.313rem;
  padding: var(--size-25);
  flex-grow: 1;
}

.feature-cards .title,
.pricing-wrapper .title {
  color: var(--black);
  font-size: var(--size-18);
  font-weight: bold;
}

.text-bubble .title {
  display: inline-block;
  font-size: 1.063rem;
}

.text-bubble .bubble {
  font-size: 0.688rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--success);
  border-radius: var(--size-10);
  padding: 0.188rem var(--size-10);
  margin-left: 0.313rem;
}

.feature-cards .icon,
.pricing-wrapper .icon {
  width: 3.125rem;
}

.feature-banner {
  display: flex;
  background-color: var(--bg-accent-color-1);
}

.feature-demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--size-30);
  flex-shrink: 2;
}

.feature-demo h3 {
  font-size: var(--size-25);
  color: var(--black);
  font-weight: 500;
  line-height: var(--size-30);
  margin-top: 0;
}

.feature-demo a {
  width: fit-content;
}

.feature-image {
  flex-shrink: 1;
}

.learn-graphic {
  padding: var(--size-20);
  margin-bottom: var(--size-50);
}

.graphic,
.concepts {
  display: flex;
  gap: 0.313rem;
  align-items: center;
}

.graphic {
  padding: 0 var(--size-100);
  margin-bottom: var(--size-25);
}

.circle {
  background-color: var(--font-color-light);
  padding: var(--size-25);
  border-radius: 50%;
  flex-shrink: 1;
}

.dot {
  background-color: var(--font-color-link);
  padding: 3px;
  border-radius: 50%;
}

.line {
  border-bottom: 3px solid var(--font-color-light);
  flex-grow: 1;
}

.concepts {
  justify-content: space-between;
  font-size: var(--size-16);
  color: var(--black);
  font-weight: 600;
}

.concepts div {
  flex: 1;
  text-align: center;
}

.learn-banner {
  position: relative;
  padding: var(--size-50) 0;
}

.play-button {
  position: absolute;
  padding: var(--size-20);
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: var(--black);
  font-size: var(--size-20);
}

.testimonial-wrapper {
  display: flex;
  padding: var(--size-80) 0;
}

.testimonial-graphic {
  position: relative;
  flex: 3 1 0;
}

.testimonial-graphic img:nth-child(1) {
  position: relative;
  max-width: 400px;
  top: -1rem;
  left: 2rem;
  z-index: 1;
}

.testimonial-graphic img:nth-child(2) {
  position: absolute;
  height: 84%;
  top: 20%;
  right: 28%;
}

.testimonial-text {
  flex: 4 1 0;
  padding: var(--size-100) 0 var(--size-100) var(--size-60);
}

.testimonial-logo {
  width: var(--size-120);
  margin-bottom: var(--size-30);
}

.testimonial-text p {
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--black);
  margin-bottom: var(--size-50);
}

.testimonial-name {
  font-size: var(--size-18);
  font-weight: 700;
  color: var(--black);
}

.testimonial-title {
  font-size: var(--size-14);
  font-weight: 700;
}

.endorsement-title {
  text-align: center;
  font-size: var(--size-20);
  font-weight: 700;
  margin-bottom: var(--size-40);
}

.endorsement-logos {
  display: flex;
  justify-content: space-between;
}

.endorsement-logos div {
  max-width: var(--size-120);
}

.pricing-wrapper {
  display: flex;
}

.pricing-wrapper .custom-card {
  max-width: 380px;
  padding: var(--size-50);
}

.pricing-wrapper .custom-card > .text {
  font-size: var(--size-16);
  margin: var(--size-30) 0;
}

.pricing-wrapper .price {
  font-size: var(--size-50);
  font-weight: 500;
  color: var(--black);
  margin: var(--size-20) 0;
}

.pricing-wrapper .frequency {
  font-size: var(--size-20);
  color: var(--font-color-base);
}

.disclaimer {
  font-size: 0.75rem;
  margin-top: var(--size-10);
}

.price-includes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: var(--size-40);
  padding: var(--size-10) var(--size-50);
  flex-grow: 1;
}

.hire-us,
.hire-us-background {
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hire-us-background {
  background-color: var(--bg-accent-color-2);
  border-radius: 5px;
}

.hire-us-wrapper {
  display: flex;
  padding-right: var(--size-10);
}

.hire-us-wrapper .text,
.hire-us-wrapper .form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hire-us-wrapper .text {
  padding: var(--size-50);
}

.hire-us-wrapper .section-header {
  text-align: left;
  width: fit-content;
  padding-top: 0;
}

.hire-us-wrapper h2,
.hire-us-wrapper .quote,
.hire-us-wrapper .name {
  color: var(--white);
}

.hire-us-wrapper h2,
.hire-us-wrapper p {
  margin-right: 50%;
}

.hire-us-wrapper hr {
  margin-right: 40%;
  opacity: 1;
  height: 1px;
  border: none;
  background-color: var(--font-color-light);
}

.hire-us-wrapper h2 {
  font-size: var(--size-25);
  font-weight: 700;
  margin-top: 0;
}

.hire-us-wrapper p {
  font-size: var(--size-18);
  margin-bottom: var(--size-40);
}

.hire-us-wrapper .quote {
  margin-bottom: var(--size-50);
  padding-right: 100px;
  font-style: italic;
  font-size: var(--size-18);
}

.hire-us-wrapper .name {
  font-size: var(--size-18);
  font-weight: 700;
}

.hire-us-wrapper .title {
  font-size: var(--size-14);
}

.profile-pictures {
  display: flex;
  align-items: center;
  gap: var(--size-30);
  margin-top: var(--size-40);
}

.profile-pictures img {
  width: var(--size-40);
  border-radius: 50%;
}

.profile-pictures img:nth-child(3) {
  width: var(--size-60);
}

.form {
  padding: var(--size-25) 0;
}

.form-wrapper {
  background-color: var(--white);
  padding: var(--size-40);
  border-radius: 10px;
}

.form-wrapper h3 {
  margin-top: 0;
  color: var(--black);
  font-size: var(--size-18);
}

.form-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: var(--size-20);
}

.form-info input[type="text"],
.form-info .opt-in input[type="checkbox"],
.form-info select,
.form-info textarea {
  padding: var(--size-10);
  font-family: "Inter", sans-serif;
  border-radius: 0.313rem;
  border: 1px solid lightgray;
  font-weight: 600;
  font-size: var(--size-14);
  outline-color: lightgray;
}

.form-info textarea,
.opt-in,
.form-info input[type="submit"],
.policies {
  grid-column: 1 / 3;
}

.form-info textarea {
  resize: none;
}

.opt-in {
  display: flex;
  gap: var(--size-20);
  align-items: start;
}

.opt-in input[type="checkbox"] {
  transform: scale(2) translate(0, 0.188rem);
  accent-color: var(--font-color-link);
  padding: 20px;
}

.policies {
  text-align: center;
  font-size: var(--size-14);
  font-weight: 600;
  margin-bottom: var(--size-16);
}

.policy-1,
.policy-2 {
  text-decoration: underline dotted;
  text-decoration-thickness: 2px;
  padding: 0 var(--size-16);
}

.form-info input[type="submit"] {
  justify-self: center;
  border: 1px solid var(--font-color-link);
  cursor: pointer;
}

footer {
  padding-bottom: var(--size-30);
}
.footer-top {
  display: flex;
  justify-content: space-around;
  gap: var(--size-30);
}

.footer-logo {
  width: var(--size-100);
  margin-bottom: var(--size-20);
}

.contact-info i {
  margin-right: var(--size-10);
}

.address {
  font-style: normal;
}

.phone a {
  color: var(--font-color-link);
}

.helpful-links {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: var(--size-40);
  line-height: var(--size-25);
  font-weight: 500;
}

.helpful-links a {
  display: block;
}

.links-title {
  font-size: var(--size-18);
  font-weight: 700;
  color: var(--black);
  margin-bottom: var(--size-10);
}

.link-bubble .bubble {
  font-size: 0.5rem;
  color: var(--white);
  background-color: var(--font-color-link);
  border-radius: 0.188rem;
  padding: 0.125rem var(--size-5);
  margin-left: 0.313rem;
}

.resources-links i {
  display: inline;
  margin-right: var(--size-5);
}

hr.footer-divider {
  margin: var(--size-40);
  height: 1px;
  background-color: lightgray;
  border: none;
}

.site-map a,
.site-map span {
  margin-right: var(--size-5);
}

.additional-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-40);
  gap: var(--size-16);
}

.site-map {
  margin-right: auto;
}

.socials {
  display: flex;
  gap: var(--size-16);
  align-items: center;
}

.socials > a {
  padding: 0.5rem;
  background-color: var(--font-color-light);
  border-radius: var(--size-5);
  display: flex;
  transition: background-color 0.5s;
  height: fit-content;
}

.socials i {
  font-size: var(--size-16);
  color: var(--font-color-dark);
  transition: color 0.5s;
}

.socials > a:hover {
  background-color: var(--font-color-dark);

  i {
    color: var(--font-color-light);
  }
}

.socials i:hover {
  color: var(--font-color-light);
}

.local-preferences {
  border: 1px solid var(--font-color-light);
  background-color: var(--font-color-light);
  border-radius: var(--size-5);
  padding: var(--size-5) var(--size-16);
}

.dropdown-menu {
  padding: 3px 0;
}

.dropdown img {
  width: var(--size-16);
  margin-right: var(--size-10);
}

.dropdown-text {
  font-size: 14px;
}

.legal {
  padding: 0 var(--size-150);
}

.legal .copyright,
.legal .disclaimer {
  text-align: center;
  font-size: var(--size-14);
  font-weight: 500;
  margin-bottom: var(--size-20);
}
